/* font-family: 'Barlow', sans-serif; */
/* font-family: 'Barlow Condensed', sans-serif; */

/* body{
  padding:60px 150px;
} */

.menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding:60px 150px;
}

.circle{
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  border-radius:8px;
  border:1px solid #ccc;
  width:5px;
  height:5px;
  background-color: #ccc;
  display: inline-block;
  margin-right: 30px;
}

li{
  display: inline-block;
  margin-right:30px;
}

a{
  text-decoration: none;
  font-family: 'Barlow', sans-serif;
  color:black;
  font-weight: 700;
  font-size:13px;
}

a:hover{
  text-decoration: underline;
  color:black;
}

.last{
  color:hsl(231, 7%, 65%);
}

.last:hover{
  color:hsl(231, 7%, 65%);
}

.container{
  padding:0;
}

.row{
  margin-top:100px;
  padding: 0 0 60px 140px;
}

.new{
  display: inline-block;
  background: hsl(230, 29%, 20%);
  color:white;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 700;
  border-radius: 30px;
  font-size: 13px;
  padding:3px 8px;
  letter-spacing: 1px;
}

span{
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
  letter-spacing: 5px;
  margin-left: 15px;
  color:grey;
  font-size: 13px;
}

h1{
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 700;
  font-size: 60px;
  margin-top:20px;
  margin-bottom:20px;
}

p{
  font-family: 'Barlow', sans-serif;
  color:grey;
  font-weight: 400;
}

.second{
  margin-top:60px;
}

button{
  background-color: hsl(0, 100%, 68%);
  color:white;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 10px 15px;
  font-size:13px;
  border: none;
  border-radius:5px;
}

button:hover{
  opacity: 0.8;
}

.right{
  overflow: hidden;
  margin-top:-70px;
}

.menu-toggle{
  visibility: hidden;
  position: static;
  cursor:pointer;
}

.toggle{
  background: transparent;
  border:none;
  float: right;
  position: absolute;
  top:60px;
  right:40px;
  z-index: 20;
}

.panelToggle{
  background-color: white;
  padding:20px;
  display: none;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left:60px;
  right:60px;
  top:150px;
  text-align: center;
  z-index: 10;
  box-shadow: 2px 2px 20px hsl(229, 6%, 66%);
}

.panelHamburger{
  background-color: white;
  border-radius: 10px;
}

.linkHamb{
  display: block;
  margin-bottom:15px;
}

.linkHamb{margin-right:0;}


@media screen and (max-width:991px){

  .menu{
    padding:60px 60px;
  }

  .menu-toggle{
    visibility: visible;
  }

  .link{
    display: none;
  }

  .row{
    margin-top:50px;
    padding: 0 0 60px 50px;
  }

  .right{
    margin-bottom:30px;
    margin-top:30px;
  }

  h1{
    font-size:50px;
  }

}
